
body {
  font-family: 'Open Sans'

}

.container {
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}

img {
  width: auto;
  height: auto;
}

a {
  background: #FF3D71;
  border-style: none;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  color: white;
  border-radius: 42px;
  width: 5rem;
  height: 5vh; 
  cursor: pointer;
}  
