
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;  
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
}

.container, .button {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}

img{
  padding: 24px;
}

a {
  background: #FF3D71;
  border-style: none;
  font-style: normal;
  color: white;
  border-radius: 42px;
  text-decoration: unset;
  padding: 16px;
  text-align: center;
  
}  
