html, body {
    font-family: 'Opens Sans', sans-serif;
    
}

body {
    margin: 0;
}

button {
    border-style: none;
    margin: 10px;
    background: #FF3D71;
    color: white; 
    cursor: pointer;
}

.container {
    position: absolute;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    width: 360px;
    height: auto;
    margin: 3rem 20rem 0 30rem;
    border-radius: 10px 10px 0 0;
    padding: 10rem 0 0 0;
}

.whitebox{
    background:  #F7F9FC;
    
}

.textStyle {
    text-align: center;
    font-size: 18px;
    color: #2E3A59;
    text-transform: uppercase;
}